@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root{
    --main-color:red;
    --black:red;
    --light-color:red;
    --bg:#fceae9;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0px; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color:var(--black);
}

.heading span{
    color:var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding:0 1.5rem;
}




.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 1rem;
    background:var(--bg);
    position: relative;
}

.home .content{
    flex:1 1 45rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content h3{
    font-size: 3.5rem;
    color:var(--black);
    line-height: 1.8;
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.home .cloud{
    position: absolute;
    bottom: 0; right: 0; left: 0;
    height: 18rem;
    background-size: 250rem 18rem;
    
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.home .cloud-1{
    opacity: .5;
    height:30rem;
    background-size: 250rem 20rem;
    animation-direction: reverse;
    animation-duration: 15s;
   
}
h2{
    color: red;
    text-align: center;
}
h1{
    color: red;
    text-align: center;
}
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding: 2rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content .title{
    font-size:3rem;
    color:var(--black);
}

.about .row .content p{
    font-size:1.5rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 2rem;
}

.about .row .content .icons-container .icons{
    flex:1 1 15rem;
    border-radius: .5rem;
    border:var(--border);
    padding:1.5rem;
    text-align: center;
}

.about .row .content .icons-container .icons i{
    border-radius: 50%;
    background: var(--bg);
    color:var(--main-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.about .row .content .icons-container .icons h3{
    color:var(--light-color);
    font-size: 1.6rem;
    padding-top: 1rem;
    
}



.pricing .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.pricing .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
}

.pricing .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.pricing .box-container .box img{
    margin:2.5rem 0;
    height: 15rem;
}

.pricing .box-container .box .price{
    font-size: 4rem;
    font-weight: bolder;
    color: var(--main-color);
}

.pricing .box-container .box .price span{
    font-size: 2rem;
    font-weight: lighter;
}

.pricing .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
}
p{
    color: red;
}

.review .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    padding: 2rem;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.review .box-container .box .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.review .box-container .box .user .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.review .box-container .box .fa-quote-right{
    margin-left: auto;
    font-size: 5rem;
    color:var(--bg);
}

.review .box-container .box p{
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--light-color);
    font-style: italic;
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    
    .home .content{
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}